<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Amal N S</title>

</head>

<body>

    <div id="page-wrap" class="container">
        <div class="row p-5">
            <div class="col-12 col-md-6 text-md-right text-center">
                <div id="contact-info" class="vcard">

                    <!-- Microformats! -->

                    <h1 class="fn">Amal N S</h1>

                    <p>
                        Phone: <span class="tel">9605476822</span><br />
                        Email: <a class="email" href="mailto:amalnsklm@gmail.com">amalnsklm@gmail.com</a>
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 text-md-right text-center">
                <img src="./static/images/image.jpg" alt="Photo of Amal N S" id="pic" />
            </div>
        </div>

        <div class="row p-2">
            <div class="col-2"></div>
            <div id="objective" class="col-8">
                <p>
                    I am an outgoing and energetic (ask anybody) young professional, seeking a
                    career that fits my professional skills, personality, and murderous tendencies.
                    My squid-like head is a masterful problem solver and inspires fear in who gaze upon it.
                    I can bring world domination to your organization.
                </p>
            </div>
        </div>


        <div class="row p-2">
            <div class="col-2"></div>
            <div class="col-10 col-md-4">
                <div class="h2">Education</div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-8">
                    <div class='h3 text-danger'>Cochin University of Science and Engineering</div>
                    <p><strong>Bachelor of Technology in Computer Science</strong><br />
                        Present
                    </p>
                    <p class="h3 text-danger">Vivekodayam Boys Higher Secondary School</p>
                    <p><strong>Class XII</strong><br />
                        2017
                    </p>
                    <div class="h3 text-danger">Bharatiya Vidya Bhavan, Akamala</div>
                    <p><strong>class X</strong><br />
                        2015
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-10 col-md-4">
                <div class="h2">Skills</div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4"></div>
            <div class="col-8">
                <div class='h3 text-danger'>Language</div>
                <p>
                <h5> Python, Linux, Computer Networking</h5>
                </p>
                <p class="h3 text-danger">Communication</p>
                <p>
                <h5>English, Tamil, Malayalam</5>
                    </h4>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-10 col-md-4">
                <div class="h2">Projects</div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4"></div>
            <div class="col-8">
                <div class="h3 text-danger">Supply chain using Blockchain</div>
            </div>
            <div class="col-4"></div>
            <div class="col-8 col-md-6">
                An application using Blockchain technology to help trace the history of any
                good or item.The framework for enabling supply chain efficiencies through technology and process
                integration in a vertically integrated supplynetwork.
                Results: Supply chain using blockchain scheme allows to prevent unnoticeable tampering of the
                product in each production stage to makes the data once added to be immutable.
            </div>
            <div class="col-4"></div>
            <div class="col-8 mt-5">
                <div class="h3 text-danger">Tokenization of Assets using Block chain</div>
            </div>
            <div class="col-4"></div>
            <div class="col-8 col-md-6">Asset tokenization refers to the process of converting real assets into digital
                assets. Whether it's a real estate property, painting, precious metal and company shares, everything
                is being tokenized on the block chain.</div>
        </div>

        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-10 col-md-4">
                <div class="h2 ">Experience</div>
            </div>
            <div class="row mt-2">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">Appin Technology Lab</div>
                </div>
                <div class="col-3  h5 text-end">July 2019, COCHIN</div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">Information and Ethical Hacking.</div>
            </div>

            <div class="row mt-5">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">Treasurer - ACES CUSAT</div>
                </div>
                <div class="col-4 mr-2 h5"></div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">Treasurer of the Association of Computer Engineering Students (ACES), CUSAT
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">Make-a-Ton / Organizer</div>
                </div>
                <div class="col-3 h5 text-end">October 2020, COCHIN</div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">48 hour online hackathon with participants from all over the country.
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">Innovators' Summit /Co-Founder</div>
                </div>
                <div class="col-3 mr-2 h5 text-end">January 2020,COCHIN</div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">Founded and organized a tech summit with over 400 participants which include
                    prominent
                    speakers
                    from Google,Amazon,
                    Microsoft and Wordpress.
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">AWS User Group Kochi / Volunteer</div>
                </div>
                <div class="col-3 mr-2 h5 text-end">October 2019, COCHIN</div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">Community-led learnings and diversified by the wide variety of tools and
                    technologies.
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">GDG - DEVFEST / Volunteer</div>
                </div>
                <div class="col-3 mr-2 h5 text-end">October 2019, COCHIN</div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">Community-led developer events hosted by Google Developer Groups around the
                    globe.
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">Make-a-Ton / Organizer</div>
                </div>
                <div class="col-3 mr-2 h5 text-end">September 2019, COCHIN</div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">Organised a 24 hour hackathon in kochi with participants from all over the
                    country.
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">GOOGLE IO EXTENDED / Volunteer</div>
                </div>
                <div class="col-3  h5 text-end">May 2019, COCHIN</div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">An Annual developer conference.
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">GDG - DEVFEST / Volunteer</div>
                </div>
                <div class="col-3 h5 text-end">October 2018 , COCHIN</div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">Community-led developer events hosted by Google Developer Groups around the
                    globe.
                </div>
            </div>
        </div>

        <!-- section : Courses -->

        <div class="row mt-4">
            <div class="col-2"></div>
            <div class="col-8 col-md-2">
                <div class="h2 ">Courses and Certifications</div>
            </div>
            <div class="row mt-2">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">Python</div>
                </div>
                <div class="col-3 mr-2 h5 text-end">Dec -2020 - Present</div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">Udemy : Zero to Mastery, Online</div>
            </div>

            <div class="row mt-5">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">Ethical Hacking</div>
                </div>
                <div class="col-3 mr-2 h5 text-end">Aug 2020 - Sep 2020</div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">Successfully completed an eight weeks online certified training on Ethical
                    Hacking.</div>
            </div>

            <div class="row mt-5">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">Introduction to Cyber Security</div>
                </div>
                <div class="col-3 mr-2 h5 text-end"></div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">Introduction to Cybersecurity by Cisco Networking Academy ®</div>
            </div>

            <div class="row mt-5">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">Introduction to Ethical Hacking</div>
                </div>
                <div class="col-3 mr-2 h5 text-end"></div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">Online course by Great Learning</div>
            </div>

            <div class="row mt-5 mb-5">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="h3 text-danger">Medha 20</div>
                </div>
                <div class="col-3 mr-2 h5 text-end"></div>
                <div class="col-4"></div>
                <div class="col-8 col-md-6">Workshop on Cyber Security by Cochin University Union, CUSAT</div>
            </div>

        </div>

        <div class="row mb-5">
            <div class="col-4"></div>
            <div class="col-8 col-md-6 mb-5">
                <a href='./index.html' button type="button" class="btn btn-outline-">Go Back</button>
            </div>
        </div>

    </div>


</body>

</html>